/*************************************/
/* ABOVE 288PX */
/*************************************/

/* @media (min-width: 18em) {
  #top input {
    visibility: hidden;
  }
} */

/*************************************/
/* ABOVE 640PX */
/*************************************/

@media (min-width: 40em) {
  #top input {
    visibility: visible;
  }
}
