/*************************************/
/* ABOVE 640PX */
/*************************************/

@media (min-width: 40em) {
  #top input {
    visibility: visible;
  }
}

/*************************************/
/* ABOVE 736PX */
/*************************************/

@media (min-width: 46em) {
  #top input {
    max-width: 26.5rem;
    margin: 0 auto;
  }

  .logo-img {
    margin-right: auto;
  }

  /* Remove default profile */
  #profile {
    display: none;
  }

  .profile-description {
    display: none;
  }

  /* Apply bigger profile */

  #top {
    margin-bottom: 0.8rem;
  }

  #bigger-profile {
    display: flex;
    gap: 6.2rem;
    padding: 1.6rem 0 3.3rem 4.8rem;
  }

  #profile-pic {
    width: 15.2rem;
    height: 15.2rem;
    border: 1px solid #ddd;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
  }

  .profile-id {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 1.4rem;
    font-size: 2rem;
    line-height: 1.2;
  }

  .profile-id span {
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.75px;
    color: #333;
    margin-bottom: 0.4rem;
  }

  .verified-symbol {
    margin-bottom: 1.8rem;
    margin-right: 1.6rem;
  }

  .btn-profile {
    margin: 0 1.2rem 1.2rem 0;
    width: 9.6rem;
  }

  .cog-btn {
    margin-bottom: 1.2rem;
  }

  .bigger-stat {
    display: flex;
    gap: 3.2rem;
    margin-bottom: 2.8rem;
  }

  .stat-info {
    font-size: 1.6rem;
    color: #333;
  }

  .stat-info span {
    font-weight: 500;
  }

  .profile-name,
  .profile-job,
  .profile-web {
    font-size: 1.6rem;
  }

  .profile-name,
  .profile-job {
    margin-bottom: 0.8rem;
  }

  #highlight-area {
    margin: 2rem 6.4rem 5.6rem 6.4rem;
    gap: 4.8rem;
  }

  .highlight-pic {
    width: 8.3rem;
    height: 8.3rem;
    padding: 2px;
    border: 1px solid #ddd;
    margin-bottom: 1.8rem;
  }

  .emoji {
    font-size: 1.4rem;
  }

  #stat-bar {
    display: none;
  }

  .pic-icons {
    display: flex;
    justify-content: center;
    gap: 4.8rem;
    padding: 1.2rem;
    border-top: 1px solid #ddd;
  }

  .pic-icon {
    color: #8e8e8e;
    width: 1.4rem;
    height: 1.4rem;
  }

  .pic-icon-name {
    display: inline-block;
  }

  .section-thumbnail {
    border: none;
    margin: 0 2rem;
  }

  .thumbnail-grid {
    gap: 2.6rem;
    margin-bottom: 2.6rem;
  }

  .thumbnail:hover .thumbnail-text,
  .thumbnail:active .thumbnail-text {
    flex-wrap: nowrap;
    gap: 3.2rem;
  }
}

/*************************************/
/* ABOVE 992PX */
/*************************************/

@media (min-width: 62em) {
  main {
    margin: 0 auto;
    max-width: 99.2rem;
  }

  .section-thumbnail {
    margin-bottom: 4.8rem;
  }
}
