/* 
- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #555;
  margin: 0 auto;
  background-color: #fafafa;
}

/****************************************/
/***** GENERAL REUSABLE *****/
/****************************************/

.circle-pic {
  border: 1px solid #fff;
  border-radius: 50%;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/****************************************/
/***** NAV / TOP *****/
/****************************************/

#top {
  display: flex;
  height: 6rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0 2rem;
}

.logo-img {
  height: 2.9rem;
  object-fit: contain;

  margin: 2.4rem 0 1.6rem 0;
}

#top input {
  visibility: hidden;

  width: 80%;
  height: 3.8rem;
  background-color: #eee;
  border: 1px solid #fff;
  border-radius: 9px;
  margin: 0 2rem;
}

#top input::placeholder {
  font-size: 1.6rem;
  color: #aaa;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav-icons a:link,
.nav-icons a:visited {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
}

.nav-icon {
  font-size: 2.6rem;
  color: #333;
  padding-top: 0.2rem;
}

.nav-profile-pic {
  width: 3rem;
  height: 3rem;
  border: 1px solid #333;
  border-radius: 50%;

  padding: 1px;
}

/****************************************/
/***** PROFILE *****/
/****************************************/

/* Bigger Profile */

#bigger-profile {
  display: none;
}

/* Normal Profile */

#profile {
  display: flex;
  padding: 1rem;
  gap: 2.2rem;
}

#profile-pic {
  width: 8.76rem;
  height: 8.76rem;
  border: 1px solid #ddd;
  border-radius: 50%;
}

#profile-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-top: 0.6rem;
}

#id {
  display: flex;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1;
  color: #262626;
}

.verified-symbol {
  width: 3rem;
  height: 3rem;
  margin: 0 0.6rem 1rem 0.2rem;
}

.cog-btn {
  width: 3rem;
  height: 3rem;
  stroke: #333;
  margin-bottom: 1rem;
}

.btn-profile {
  height: 3rem;
  width: 25rem;

  color: #262626;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;

  margin-top: 0.6rem;
}

/****************************************/
/***** PROFILE DESCRIPTION *****/
/****************************************/

.profile-description {
  padding: 1rem 0 1.6rem 1.6rem;
  margin-bottom: 1rem;
}

.profile-name {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: #262626;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.profile-job {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #8c8c8c;
  margin-bottom: 0.1rem;
}

.profile-web a:link,
.profile-web a:visited {
  text-decoration: none;
  color: #00376b;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

/****************************************/
/***** HIGHLIGHT *****/
/****************************************/

#highlight-area {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 2.4rem;
}

.highlight-pic {
  width: 6.2rem;
  height: 6.2rem;
  padding: 1px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-bottom: 0.8rem;
}

.emoji {
  font-size: 1.2rem;
  text-align: center;
}

/****************************************/
/***** STAT *****/
/****************************************/

#stat-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  padding: 1.4rem 0;
}

.stat {
  text-align: center;
  font-size: 1.4rem;
}

.stat-number {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #262626;
  margin-bottom: 0.4rem;
}

.stat-caption {
  font-family: "Inter", sans-serif;
  color: #8c8c8c;
}

/****************************************/
/***** THUMBNAIL *****/
/****************************************/

.pic-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pic-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.pic-icon {
  color: #8e8e8e;
  width: 2.4rem;
  height: 2.4rem;
}

.pic-icons a:link,
.pic-icons a:visited {
  text-align: center;
  margin: 0.8rem 0;
  transition: all 0.25s;
  text-decoration: none;
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.pic-icon-name {
  display: none;
}

.section-thumbnail {
  border-top: 1px solid #ddd;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}

.thumbnail {
  width: 100%;
}

/****************************************/
/***** FOOTER *****/
/****************************************/

main {
  margin-bottom: 5.4rem;
}

footer {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 6.4rem;
  color: #888;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1.5rem 1.2rem 1.5rem;
}

.btn-footer-nav:link,
.btn-footer-nav:visited {
  display: inline-block;
  text-decoration: none;
  color: #888;
  margin: 0 0.6rem 1.6rem 0.6rem;
}

.footer-bottom {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

#footer-lang-select {
  border: none;
  background-color: #fafafa;
  color: #888;
}
